
.tituloh1{

    color:rgb(13, 22, 49);
    margin-top:30px;
    margin-left:200px;
}

.introduzcaNumero{

    position: relative;
    margin-left: 540px;
}


.container{
    background-color: #D0EFB1;
    border-radius: 1em;
    border: 0.15em solid #73956F;
}


.generador{
    background-color:#73956F;
    position: relative;
 
}


.selectGenerados{
    background-color:#5497A7;
    border-radius: 1em;
    border: 0.15em solid #011502;
}

.checkGenerados{

    background-color: #5497A7;
    border-radius: 1em;
    border: 0.15em solid #011502;

}

.totalGenerados{
    background-color:#D0EFB1;
    border-radius: 1em;
    border: 0.15em solid #011502;
}

input{
    width: 100%;
}

#incorrecto{
    font-size: 1em;
    text-align: center;
    color: red
}

#convert{
    background-color:#8FCB9B;
    border-radius: 1em;
    border: 0.15em solid #011502;

}

select{
    margin-top: 0.25em;
}

.button{
    width: 100%;
    border-radius: 0.5em;
    margin: 0.5em, 0em;
}

#generar{
    background-color:#8FCB9B;
    color: #01200F;
    font-weight: bold;
    font-size: 1.5em;
}

#categorybox{
    display:none;

}


/*Responsive*/

@media (min-width:992px) and (max-width:1400px){

    
}

@media (min-width:768px) and (max-width:991px){
    
    
   
}


@media (max-width:767px){
    
    
    
}


@media (max-width:479px){
    
    

}